[submodule "vim/bundle/papercolor-theme"]
	path = vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/bundle/Zenburn"]
	path = vim/bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/bundle/vim-monokai"]
	path = vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
