[submodule "vim/pack/mycolors/start/papercolor-theme"]
	path = vim/pack/mycolors/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/pack/mycolors/start/Zenburn"]
	path = vim/pack/mycolors/start/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/pack/mycolors/start/vim-monokai"]
	path = vim/pack/mycolors/start/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "vim/pack/mypackages/start/lightline.vim"]
	path = vim/pack/mypackages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/mypackages/start/vim-dirvish"]
	path = vim/pack/mypackages/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
